body{
    color: #fff;
    font-family: Source Sans Pro,HelveticaNeue-Light,Helvetica 
    Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    background-color: lightgray;
    margin: 2px;
}





li{
    text-decoration: none;

}

a{
    color: #fff;
}

button{
    background-color: #394f4c;
    color: white;
}

.flower-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.productBox{
display: flex;
flex-direction: column;
padding: 1rem;
justify-content: center;
}






.single-flower-products{
    width: 10rem;

}






