body{
    color: #fff;
    font-family: Source Sans Pro,HelveticaNeue-Light,Helvetica 
    Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    background-color: lightgray;
    margin: 2px;
}


li{
    text-decoration: none;
}

a{
    color: #fff;
}

img{
    width: 15rem;
}






